@import '../../static/scss/index';

.state-page{
  background-color: #eee;
}
.state-header{
  padding: 24px;
  border-bottom: 20px solid #eee;
  background-color: $color-white;
  h3{
    font-size: $font-size-28;
    color: $color-gray;
  }
  p{
    font-size: $font-size-32;
    span{
      font-size: $font-size-28;
      i{
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 0 16px 0 20px;
        border-radius: 4px;
        vertical-align: -4px;
      }
      &.green-icon{
        color: $color-green;
        i {
          @include background($green-ub);
        }
      }
      &.red-icon{
        color: $color-red;
        i {
          @include background($red-up);
        }
      }
    }
  }
  ul{
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    @include displayflex();
    li{
      flex: 1;
      h3, p{
        text-align: right;
      }
      &:first-child{
        h3, p{
          text-align: left;
        }
      }
    }
  }
  > p:last-child{
    margin: 10px 0;
  }
}

.state-container{
  border-bottom: 20px solid #eee;
  background-color: $color-white;
  h3, ol, ul{
    border-bottom: 1px solid #eee;
  }
  h3{
    font-size: $font-size-32;
    padding: 20px;
  }
  ol, ul{
    padding: 16px 20px;
    font-size: $font-size-28;
    color: $color-gray;
    @include displayflex();
    li{
      flex: 1;
      text-align: left;
    }
  }
  ul{
    li{
      font-size: $font-size-36;
      p{
        font-size: $font-size-28;
        padding-top: 10px;
      }
    }
  }
}

.no-more{
  text-align: center;
  padding: 40px 0;
  color: $color-gray;
}

